<div class="center">

  <div class="header">

    <div class="imagem-container">
      <img src="assets/cerebro.png" alt="cerebro" />
    </div>


  </div>


  <div class="body">

    <div class="title">

      <div class="title-1">
        <h1>PERFIL</h1>
      </div>

      <div class="title-2">
        <h1>COMPORTAMENTAL</h1>
      </div>

      <div class="img-frase">
        <div class="imagem-container">
          <img src="assets/musculo.png" alt="musculo" />
        </div>
        <div class="frase-coaching">
          <h3>Esse é uma ferramenta de autoconhecimento para entender melhor o comportamento humano.</h3>
        </div>
      </div>

    </div>


    <div class="card">

      <div class="image-container">
        <img src="assets/logo-x.png" alt="Login Illustration">
      </div>
    
      <div class="inputs">

        <div class="line">
          <input 
            type="text" 
            class="form-control input-text" 
            placeholder="Nome"
            [(ngModel)]="nome"
          />

        </div>
    
        <div class="line">
          <input 
            type="text" 
            class="form-control input-text" 
            placeholder="Email"
            [(ngModel)]="email"
          />
        </div>

        <!-- MENSAGEM DE ERRO -->
        <div *ngIf="emailError" class="alert alert-danger erro">
          <small>{{ emailError }}</small>
        </div>

      </div>

      <button 
        class="botao-teste"
        (click)="login()"
      >FAZER O TESTE
      </button>

    </div>
    
  </div>

  <div class="section">

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">
            <div class="img-table">
              <img src="assets/cerebro.png" alt="cerebro" />
            </div>
          </th>
          <td> <h1>Ordem e <strong>CONTROLE.</strong> </h1>  </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="img-table">
              <img src="assets/musculo.png" alt="cerebro" />
            </div>
          </th>
          <td> <h1>Resultados.</h1> </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="img-table">
              <img src="assets/coracao.png" alt="cerebro" />
            </div>
          </th>
          <td> <h1>Felicidade e <STRONG>IGUALDADE</STRONG>. Cultura da empresa. Pensa nos outros.</h1> </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="img-table">
              <img src="assets/olho.png" alt="cerebro" />
            </div>
          </th>
          <td> <h1>Criatividade e <strong>LIBERDADE</strong>, inspira ideias.</h1> </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

  