.center{
    background-image: url('src/assets/fundo.png'); /* ou outro caminho */
    background-size: cover;       /* cobre toda a tela */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat; /* não repete a imagem */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 25px 0 25px;
}

.table h1{
    font-family: 'Oswald', sans-serif;
    font-size: 18px; /* ajuste conforme necessário */
    color: #333; /* opcional: cor do texto */
    font-weight: 350; /* Peso grosso como na imagem */
}

.section{
    margin-top: 50px;
}

.table {
    width: 100%;
    background-color: transparent; /* fundo transparente */
    border-collapse: collapse;
}

.table th,
.table td {
  vertical-align: middle; /* centraliza verticalmente */
  background-color: transparent; /* garante que as células também fiquem transparentes */
  padding: 12px; /* espaço interno opcional */
  border: none; /* remova se quiser bordas */
}

td:hover,
th:hover {
  color: #2365a3; /* azul claro */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.img-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-table img {
  max-width: 100px; /* ajuste o tamanho conforme necessário */
  height: auto;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 400px; /* limita largura em telas grandes */
    margin: 0 15px;   /* espaço lateral em telas pequenas */
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.title-img{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 70px;
    line-height: 1.0; /* Aumenta o espaço entre as linhas */
    font-family: 'Poppins', sans-serif;
}

.title .title-1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 180px;
    font-weight: 800; /* Peso grosso como na imagem */
    line-height: 1.2; /* Ajuste para controlar o espaço entre linhas */
}

.title h1{
    margin: 0;
}

.imagem-container{
    margin: 0;

}

.imagem-container img {
    width: 250px;
}

.img-frase{
    display: flex;
    flex-direction: row;
}

.frase-coaching{
    display: block;
    text-align: left;
    width: 60%;
    padding: 10px;
}

.frase-coaching h3{
    font-family: "Oswald", sans-serif;
    font-size: 23px;
    background-color: rgb(209, 209, 97);
}
  

h2,
h1,
h3{
    color: rgb(255, 255, 255);
}

.line{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

mat-icon{
    margin-top: 0.4rem;
    margin-right: 12px;
    color:#000000;
}

.btn{
    margin-top: 20px;
    width: 100px;
}

.input-text {
  height: 50px; /* ajuste como preferir */
  font-size: 18px; /* opcional: aumenta o texto junto */
}

.margin-adjust {
    margin-top: 0px; /* Defina o valor que achar adequado */
  }

.image-container img {
    max-width: 300px;
    height: auto;
}

.line{
    width: 100%;
}

.inputs{
    width: 100%;
    margin-bottom: 20px;
}

.botao-teste {
  background-color:rgb(0, 75, 124);         /* azul semelhante ao da imagem */
  color: white;                      /* texto branco */
  border: none;                      /* sem borda */
  padding: 12px 24px;                /* espaçamento interno */
  border-radius: 30px;               /* bordas arredondadas tipo cápsula */
  font-weight: bold;                 /* texto em negrito */
  font-family: 'Montserrat', sans-serif; /* fonte moderna */
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* leve sombra */
  cursor: pointer;                  /* cursor de mãozinha */
  transition: background 0.3s ease; /* animação suave no hover */
} 

::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.erro{
    font-size: 17px;
    margin: 0;
}

@media (max-width: 768px) {
    .body {
        display: flex;
        flex-direction: column;    
        justify-content: center; /* empurra o card para a direita */
        align-items: center;
        height: auto;
        gap: 20px;
        padding: 0;
    }

    .title {
        order: -1; /* coloca .title acima da .card */
        text-align: center;
        margin: 0;
    }
    
    .title h1 {
        font-size: 40px;
        line-height: 1.0; /* Aumenta o espaço entre as linhas */
        font-family: 'Poppins', sans-serif;
    }

    .title .title-1 h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 100px;
        font-weight: 800; /* Peso grosso como na imagem */
        line-height: 1.2; /* Ajuste para controlar o espaço entre linhas */
    }

    .card {
      width: 90%;
      height: auto;
      border-radius: 30px;
      margin: 0;
    }
  
    .image-container img {
      max-width: 100%;
    }
  
    .line {
      flex-direction: row;
      align-items: center;
    }
  
    .btn {
      width: 50%;
      margin-top: 10px;
    }
  }
  